from logging import DEBUG

# Parameters used to log output
LOGGING_PARAMS = dict(
    filename='dumper_progress.log',
    filemode='w',
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=DEBUG,
)

# Parameters used by the Pushbullet API
PB_PARAMS = dict(
    # Pushbullet Access Token
    # https://www.pushbullet.com/#settings
    token="",

    # Message to send
    title="Data Dumper",
    body="{count} files have been downloaded.",

    # Push is sent to this device
    target="",

    # Push appears as if sent from this device
    source="",
)

# A new notification will be send when
# these many files have been downloaded.
PB_NOTIFY_WHEN = 1000
